<h1><%= @post.title %></h1>

<% if @post.url.length > 0 %>
<a href="<%= @post.url %>">Link</a>
<% end %>

<% if @post.content.length > 0%>
<p><%= @post.content %></p>
<% end %>

<a href="<%= edit_post_url(@post) %>">Edit this post</a>

